einops==0.8.1
numpy==2.3.1
omegaconf==2.3.0
pandas==2.3.0
torch==2.7.1
torchio==0.20.16
tqdm==4.67.1
torchio==0.20.16
numpy==2.3.1
pandas==2.3.0
omegaconf==2.3.0
scipy == 1.12.1
scikit-learn==1.3.2
typing-extensions==4.9.0
wandb==0.15.9
thop